body {
    background-color: #000000;
    margin-top: 200px;
    margin-bottom: 200px;
    margin-right: 200px;
    margin-left: 200px;
    }
  
  section {
      border: 2.5px solid;
      border-radius: 1em;
      background-color: #ff3333;
          }
  
  h1 {
      font-family: Arial;
      text-align: center;
      background-color: #ff3333;
      margin: .04em;
      color:  #fff;
      font-size: 6.0em;
      display: block;
      letter-spacing: 0.1em;
      }
    
  h2 {
      font-family: Arial;
      text-align: center;
      background-color: #ff3333; 
      font-size: 2.6em;
      color: #fff;
      display: block;
      letter-spacing: 0.1em;
      }
    
  h3 {
      text-align: center;
      background-color: #fff; 
      height: 1em;
      font-family: Arial;
      color: #333;
      font-size: 4.3em;
      padding: 0.3em 0;
        }
  